body{
  margin: 0px;
  margin-top: 10px;
  background-color: DarkSalmon;
  text-align: center;
}

.col{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: gainsboro;
  margin-top: 3px;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  padding-top: 20px;
  border: 1px solid black;
  border-radius: 100%;
}

.heading{
  font-size: 40px;
  margin-bottom: 30px;
  font-style: oblique;
  font-weight: bold;
}

button{
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;

}
